[screen]
bg_color = [0.5, 0.5, 0.5, 1.0]
project = False
screen_number = 0
w_size = 640
h_size = 400

[front]
left = 219
bottom = 150
width = 144
height = 143
scale_x = -1.0
scale_y = -1.0
scale_z = 1.0
projection = perspective
pan = 0.0
tilt = 0.0
dutch = 0.0
frustum_left = -0.1
frustum_right = 0.1
frustum_bottom = -0.1
frustum_top = 0.1
frustum_near = 0.1
frustum_far = 3.0

[left]
left = 385
bottom = 160
width = 168
height = 166
scale_x = -1.0
scale_y = 1.0
scale_z = 1.0
projection = perspective
pan = -90.0
tilt = 0.0
dutch = 0.0
frustum_left = -0.1
frustum_right = 0.1
frustum_bottom = -0.1
frustum_top = 0.1
frustum_near = 0.1
frustum_far = 3.0

[top]
left = 213
bottom = 320
width = 156
height = 155
scale_x = 1.0
scale_y = 1.0
scale_z = 1.0
projection = perspective
pan = -18.0
tilt = 68.0
dutch = -2.0
frustum_left = -0.1
frustum_right = 0.1
frustum_bottom = -0.1
frustum_top = 0.1
frustum_near = 0.1
frustum_far = 3.0

[right]
left = 43
bottom = 160
width = 156
height = 155
scale_x = 1.0
scale_y = 1.0
scale_z = 1.0
projection = perspective
pan = 90.0
tilt = 0.0
dutch = -26.0
frustum_left = -0.1
frustum_right = 0.1
frustum_bottom = -0.1
frustum_top = 0.1
frustum_near = 0.1
frustum_far = 3.0

[bottom]
left = 219
bottom = -16
width = 156
height = 155
scale_x = 1.0
scale_y = 1.0
scale_z = 1.0
projection = perspective
pan = 12.0
tilt = -90.0
dutch = 0.0
frustum_left = -0.1
frustum_right = 0.1
frustum_bottom = -0.1
frustum_top = 0.1
frustum_near = 0.1
frustum_far = 3.0

[indicators]
left = 373
bottom = 0
width = 150
height = 150
scale_x = 1.0
scale_y = 1.0
scale_z = 1.0
projection = reference
ref_pt_size = 2
ref_coords = 8.0 40.0 0.0 41.0 41.0 0.0 7.0 8.0 0.0 41.5 8.0 0.0

