[video_parameters]
thresh = 62
inner_r = 82
outer_r = 128
wing_r = 240
invert = True
rotate270 = True
flipped = False
kalman_jerk_std = 300.0
kalman_noise = 3.0
time_scale = 10
heading_pad = 90

[experiment_parameters]
sex = female
genotype = PCF

[fly_markers]
wing_hinge_left = 65,35
wing_hinge_right = -65,35
neck = 0,120

[experiment_parameter_options]
sex = female,male
genotype = PCF,Empty Split Gal4,SS00096 UAS Kir2.1,SS00131 UAS Kir2.1,R4m Gal 4,GLNO1,GLNO2

