[video_parameters]
thresh = 70
inner_r = 98
outer_r = 147
wing_r = 232
invert = True
rotate270 = True
flipped = False
kalman_jerk_std = 300.0
kalman_noise = 0.3

[experiment_parameters]
sex = female
genotype = R4m-GAL4

[fly_markers]
left_wing_hinge = 10,10
right_wing_hinge = -10,10
neck = 0,30

[experiment_parameter_options]
sex = female,male
genotype = PCF,Empty Split Gal4,SS00096 UAS Kir2.1,SS00131 UAS Kir2.1,R4m Gal 4

