[video_parameters]
thresh = 44
inner_r = 101
outer_r = 147
invert = True
rotate270 = True
flipped = False
kalman_jerk_std = 300.0
kalman_noise = .3

[experiment_parameter_options]
sex = female,male
genotype = wildtype (PCF),Empty Sp Gal4 > UAS-Kir2.1,SS00096 > UAS-Kir2.1

[experiment_parameters]
sex = female
genotype = wildtype (PCF)

