[screen]
bg_color = [1.0, 1.0, 1.0, 1.0]
project = True
screen_number = 1
w_size = 1280
h_size = 800

[front]
left = 302
bottom = 30
width = 317
height = 305
scale_x = 1.0
scale_y = 1.0
scale_z = 1.0
projection = perspective
pan = 0.0
tilt = 0.0
dutch = 0.0
frustum_left = -0.1
frustum_right = 0.1
frustum_bottom = -0.1
frustum_top = 0.1
frustum_near = 0.1
frustum_far = 3.0

[left]
left = 923
bottom = 9
width = 215
height = 207
scale_x = -1.0
scale_y = 1.0
scale_z = 1.0
projection = perspective
pan = -90.0
tilt = 0.0
dutch = 0.0
frustum_left = -0.1
frustum_right = 0.1
frustum_bottom = -0.1
frustum_top = 0.1
frustum_near = 0.1
frustum_far = 3.0

[right]
left = 14
bottom = 19
width = 248
height = 240
scale_x = -1.0
scale_y = 1.0
scale_z = 1.0
projection = perspective
pan = 90.0
tilt = 0.0
dutch = 0.0
frustum_left = -0.1
frustum_right = 0.1
frustum_bottom = -0.1
frustum_top = 0.1
frustum_near = 0.1
frustum_far = 3.0

[back]
left = 625
bottom = 6
width = 176
height = 170
scale_x = 1.0
scale_y = 1.0
scale_z = 1.0
projection = perspective
pan = 180.0
tilt = 0.0
dutch = 0.0
frustum_left = -0.1
frustum_right = 0.1
frustum_bottom = -0.1
frustum_top = 0.1
frustum_near = 0.1
frustum_far = 3.0

