[screen]
bg_color = [1.0, 1.0, 1.0, 1.0]
project = True
screen_number = 1
w_size = 1280
h_size = 800

[front]
left = 431
bottom = 132
width = 216
height = 414
scale_x = 1.0
scale_y = 1.0
scale_z = 1.0
projection = perspective
pan = 0.0
tilt = 0.0
dutch = 180.0
frustum_left = -0.1
frustum_right = 0.1
frustum_bottom = -0.1
frustum_top = 0.1
frustum_near = 0.1
frustum_far = 3.0

[left]
left = 659
bottom = 88
width = 172
height = 330
scale_x = -1.0
scale_y = 1.0
scale_z = 1.0
projection = perspective
pan = -90.0
tilt = 0.0
dutch = 180.0
frustum_left = -0.1
frustum_right = 0.1
frustum_bottom = -0.1
frustum_top = 0.1
frustum_near = 0.1
frustum_far = 3.0

[right]
left = 70
bottom = 62
width = 141
height = 278
scale_x = -1.0
scale_y = 1.0
scale_z = 1.0
projection = perspective
pan = 90.0
tilt = 0.0
dutch = 180.0
frustum_left = -0.1
frustum_right = 0.1
frustum_bottom = -0.1
frustum_top = 0.1
frustum_near = 0.1
frustum_far = 3.0

[back]
left = 291
bottom = 37
width = 122
height = 239
scale_x = 1.0
scale_y = 1.0
scale_z = 1.0
projection = perspective
pan = 180.0
tilt = 0.0
dutch = 180.0
frustum_left = -0.1
frustum_right = 0.1
frustum_bottom = -0.1
frustum_top = 0.1
frustum_near = 0.1
frustum_far = 3.0

