[screen]
bg_color = [1.0, 1.0, 1.0, 1.0]
project = True
screen_number = 1
w_size = 1280
h_size = 800

[front]
left = 432
bottom = 227
width = 210
height = 409
scale_x = 1.0
scale_y = 1.0
scale_z = 1.0
projection = perspective
pan = 0.0
tilt = 0.0
dutch = 180.0
frustum_left = -0.1
frustum_right = 0.1
frustum_bottom = -0.15
frustum_top = 0.05
frustum_near = 0.1
frustum_far = 3.0

[left]
left = 659
bottom = 157
width = 170
height = 328
scale_x = -1.0
scale_y = 1.0
scale_z = 1.0
projection = perspective
pan = -90.0
tilt = 0.0
dutch = 180.0
frustum_left = -0.1
frustum_right = 0.1
frustum_bottom = -0.15
frustum_top = 0.05
frustum_near = 0.1
frustum_far = 3.0

[right]
left = 70
bottom = 122
width = 143
height = 276
scale_x = -1.0
scale_y = 1.0
scale_z = 1.0
projection = perspective
pan = 90.0
tilt = 0.0
dutch = 180.0
frustum_left = -0.1
frustum_right = 0.1
frustum_bottom = -0.15
frustum_top = 0.05
frustum_near = 0.1
frustum_far = 3.0

[back]
left = 281
bottom = 85
width = 125
height = 238
scale_x = 1.0
scale_y = 1.0
scale_z = 1.0
projection = perspective
pan = 180.0
tilt = 0.0
dutch = 180.0
frustum_left = -0.1
frustum_right = 0.1
frustum_bottom = -0.15
frustum_top = 0.05
frustum_near = 0.1
frustum_far = 3.0

