[screen]
bg_color = [1.0, 1.0, 1.0, 1.0]
project = True
screen_number = 1
w_size = 1140
h_size = 912

[front]
left = 268
bottom = 593
width = 212
height = 409
scale_x = 1.0
scale_y = 1.0
scale_z = 1.0
projection = perspective
pan = 0.0
tilt = 0.0
dutch = 0.0
frustum_left = -0.1
frustum_right = 0.1
frustum_bottom = -0.05
frustum_top = 0.15
frustum_near = 0.1
frustum_far = 3.0

[left]
left = 703
bottom = 797
width = 148
height = 281
scale_x = -1.0
scale_y = 1.0
scale_z = 1.0
projection = perspective
pan = 90.0
tilt = 0.0
dutch = 0.0
frustum_left = -0.1
frustum_right = 0.1
frustum_bottom = -0.05
frustum_top = 0.15
frustum_near = 0.1
frustum_far = 3.0

[right]
left = 79
bottom = 730
width = 172
height = 327
scale_x = -1.0
scale_y = 1.0
scale_z = 1.0
projection = perspective
pan = -90.0
tilt = 0.0
dutch = 0.0
frustum_left = -0.1
frustum_right = 0.1
frustum_bottom = -0.05
frustum_top = 0.15
frustum_near = 0.1
frustum_far = 3.0

[back]
left = 498
bottom = 864
width = 124
height = 238
scale_x = 1.0
scale_y = 1.0
scale_z = 1.0
projection = perspective
pan = 180.0
tilt = 0.0
dutch = 0.0
frustum_left = -0.1
frustum_right = 0.1
frustum_bottom = -0.05
frustum_top = 0.15
frustum_near = 0.1
frustum_far = 3.0

